@white: #fff;
@white-20: fade(@white, 20);
@white-10: fade(@white, 10);

@black: black;
@black-10: fade(@black, 10);

@primary: #1677ff;
@primary-90: fade(@primary, 90);
@primary-80: fade(@primary, 80);
@primary-20: fade(@primary, 20);