.my-float-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: #fff;
  box-shadow: @box-shadow-2;
  border-radius: 50%;
  cursor: pointer;
  transition: all @duration;

  &:hover {
    background-color: rgba(0, 0, 0, 6%);
  }

  & svg {
    width: 20px;
    height: 20px;
    fill: @black-80;
  }
}

.my-float-btn-primary {
  background-color: @primary;

  & svg {
    fill: @white;
  }

  &:hover {
    background-color: @primary-80;
  }
}

.my-float-button-group {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: max-content;

  .my-float-child-btns {
    position: absolute;
    left: 0;
    bottom: 100%;
    transform: translateY(-10px);
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
