@prefix: ~'my';

.@{prefix}-button {
  padding: 0 8px;
  height: 30px;
  width: max-content;
  outline: 1px solid @black-10;
  color: @black;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  border-radius: 2px;
  user-select: none;
  box-shadow: 0 2px #00000004;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 4px;

  & svg {
    width: 14px;
    height: 14px;
  }
}

.@{prefix}-loading-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    animation: loading-cicrle 1s infinite linear;
  }
}

.@{prefix}-single {
  box-shadow: none;
}

.@{prefix}-default {
  outline: 1px solid @black-10;
  background-color: @white-20;

  &:active:not(.disabled, .loading) {
    background-color: @white-10;
  }

  &:hover:not(.disabled, .loading) {
    color: @primary-80;
    outline: 1px solid @primary-20;
  }
}

.@{prefix}-primary {
  background: @primary;
  color: @white;

  &:hover:not(.disabled, .loading) {
    background-color: @primary-90;
  }

  &:active:not(.disabled, .loading) {
    background-color: @primary-80;
  }
}

.disabled {
  outline: 1px solid @disabled-border;
  color: @disabled-text;
  background-color: @disabled-bg;
  cursor: not-allowed;
}

@keyframes loading-cicrle {
  100% {
    transform: rotate(360deg);
  }
}
