@prefix: ~'yr';
@input-padding: 2px;

.@{prefix}-input {
  position: relative;

  &-prefix,
  &-suffix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2vw;
    height: 100%;
    line-height: 34px;
    color: #ccc;
    text-align: center;
  }

  &-prefix > :first-child,
  &-suffix > :first-child {
    max-width: 100%;
    max-height: 100%;
  }

  &-prefix {
    left: 0;
    border-right: 1px solid #ccc;
  }

  &-suffix {
    right: 0;
    border-left: 1px solid #ccc;
  }

  &-eye {
    position: absolute;
    top: 50%;
    transform: translateY(-37%);
    right: 0.2vw;
  }

  &-label {
    // 共有样式
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 5%;
    transition: border-color 0.3s;

    &-large {
      // 大尺寸样式
      font-size: 16px;
      height: 40px;
    }

    &-small {
      // 小尺寸样式
      font-size: 12px;
      height: 24px;
    }

    &-submit,
    &-reset {
      background-color: #fff;
    }

    // 其他样式...

    &:disabled {
      // 禁用状态样式
      opacity: 0.6;
      cursor: not-allowed;
    }

    &:focus {
      border: 1px solid transparent;
      outline: 1px solid @primary;
    }

    &-radio:focus,
    &-checkbox:focus {
      outline: none;
    }
  }
}
